@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.section-about {
  background-color: $color-primary-bg;

  padding: 20rem 0 8rem 0;
  width: 100%;

  @include respond(tab-port) {
    padding: 12rem 2rem 6rem 2rem;
  }

  @include respond(phone) {
    padding: 8rem 1.5rem 4rem 1.5rem;
  }
}

.gallery {
  max-width: 114rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gutter-horizontal;
}

.section-cards {
  background-color: $color-secondary-bg;
  padding: 10rem 0 10rem 0;

  @include respond(tab-port) {
    padding: 6rem 2rem;
  }
}

.section-equipment {
  background-color: $color-primary-bg;
  padding: 10rem 0 10rem 0;

  @include respond(tab-port) {
    padding: 6rem 2rem;
  }
}

.section-testiomonials {
  position: relative;
  padding: 10rem 2rem;
  overflow: hidden;
  background-color: $color-primary-bg;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include respond(tab-port) {
    padding: 6rem 2rem;
  }
}

.section-location-links {
  background-color: $color-primary-bg;
  padding: 10rem 0 10rem 0;

  @include respond(tab-port) {
    padding: 6rem 2rem;
  }
}
